.post-card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid var(--accent); */
  border-radius: 25px;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  vertical-align: middle;
  max-width: 50rem;
  cursor: pointer;
  transition: all 0.5s;
}

.post-card:hover {
  background-color: #0503150b;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.pic-container {
  width: 25px;
  height: 25px;
  background-color: var(--secondary);
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.subreddit-name {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.bold-name {
  font-weight: bold;
  vertical-align: middle;
}

.time-posted {
  vertical-align: middle;
  font-weight: normal;
  opacity: 0.65;
}

.post-details {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.post-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0503150b;
  margin-right: 1rem;
  padding: 0.7rem;
  border-radius: 15px;
}

.upvote-count {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 1em;
}

.vote-btn {
  cursor: pointer;
}

.comment-btn {
  cursor: pointer;
}

.post-img {
  border-radius: 12.2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
  width: auto;
}
