@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}

@media (max-width: 600px) {
  .sidebar-wrapper {
    display: none;
  }

  .feed {
    padding-left: 0;
  }
}