@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

html,
body {
  height: 95vh;
}

button {
  background: none;
  border: none;
}

@media (max-width: 1055px) {
  .sidebar-wrapper {
    display: none;
  }

  .feed {
    padding-left: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .post-card {
    padding: 0.5rem;
    width: auto;
  }

  .post-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 30rem;
  }
}

@media (max-width: 500px) {
  .post-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .post-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25rem;
  }

  .post-card {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 25rem;
  }

  .post-img {
    width: auto;
  }
}

@media (max-width: 400px) {
  .post-img {
    width: auto;
  }

  .post-card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
